[Unit]
Description=Proxy for Flask-app web service
After=network.target
[Service]
WorkingDirectory=/var/app
Environment=PATH="/var/app/bin"
Type=simple
Restart=always
ExecStart=/var/app/bin/python3 /var/app/https_proxy.py
[Install]
WantedBy=multi-user.target


